@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center" id="cuadro">
    <div class="col-md-5 card-header">
        <h3 class="card-header">Nuevo editor de video Ffmpeg</h3><br />
        <p>
            Edita cualquier video de manera sencilla y rapida. Disfruta de todas las funciones de edicion nuestra aplicacion desktop de windows:
            <br />• Cambiar de formato
            <br />• Cambiar la resolucion
            <br />• Extraer imagenes
            <br />• Quitar sonido
            <br />• Extraer sonido
            <br />
        </p>
        <a href="https://drive.google.com/uc?export=download&id=1g_ZuUQ68lrQt4Zm5CniCuc80cYyRgo7M" class="btn btn-secondary btn-lg">Descargar Ahora</a>
        <h6><br />Primera vez en nuestra pagina? <a asp-area="" asp-controller="Home" asp-action="Register">Registrarse</a></h6>
    </div>
    <div class="col-md-8 card-header">
        <img src="~/img/ffmpeg-foto.png" class="img-fluid" alt="Responsive image" />
    </div>
</div>


<div class="d-flex justify-content-center">
    <div class="col-md-5 card-title" id="titulo">
        <h5>Funciones de la aplicacion</h5>
    </div>
</div>

    <div class="container d-flex justify-content-center">
        <div class="col-md-5 card-header" id="funciones">
            <h6 class="card-header" id="tt">Cambiar de formato</h6>
            <p>Esta funcion permite cambiar el formato de tus videos a mp4, avi, mpeg o flv.</p>
            <img src="~/img/2.png" class="img-fluid" alt="Responsive image" />
        </div>
        <div class="col-md-5 card-header" id="funciones">
            <h6 class="card-header" id="tt">Cambiar la resolucion</h6>
            <p>Esta funcion permite cambiar la resolucion de tu video a resolucion que desees.</p>
            <img src="~/img/5.png" class="img-fluid" alt="Responsive image" />
        </div>
        <div class="col-md-5 card-header" id="funciones">
            <h6 class="card-header" id="tt">Extraer imagenes</h6>
            <p>Esta funcion permite extraer imagenes en formato .jpeg en cualquier momento del video.</p>
            <img src="~/img/6.png" class="img-fluid" alt="Responsive image" />
        </div>
    </div>


    <div class="container d-flex justify-content-center">
        <div class="col-md-5 card-header" id="funciones">
            <h6 class="card-header" id="tt">Quitar el sonido</h6>
            <p>Esta funcion permite quitar completamente el sonido del video.</p>
            <img src="~/img/4.png" class="img-fluid" alt="Responsive image" />
        </div>
        <div class="col-md-5 card-header" id="funciones">
            <h6 class="card-header" id="tt">Extraer sonido de un video</h6>
            <p>Esta funcion permite extraer el sonido y tenerlo en un archivo mp3.</p>
            <img src="~/img/3.png" class="img-fluid" alt="Responsive image" />
        </div>
    </div>


